
.webBase {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navBar"
        "main"
        "footer";
}

.navBar {
    width: 100%;
    background-color: rgb(119, 42, 42);
    text-shadow: 0 0 5px #000;
    grid-area: navBar;
}

.bg-light {
    --bs-bg-opacity: 0 !important;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}



.navbar-brand {
    color: #fff !important;
    font-size: 2.2rem !important;
    margin: 0 0 -.3rem !important;
    padding: 0 !important;
    transition: all .2s ease-in-out;
    font-family: 'Bebas Neue', cursive;
}


.nav-link {
    color: #fff !important;
    font-size: 1.5rem !important;
    font-family: 'Bebas Neue', cursive;
}

.nav-link:hover,
.navbar-brand:hover {
    transition: all .2s ease-in-out;
    transform: translateY(-.2rem);
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.627));
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}
