.webBase {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navBar"
        "main"
        "footer";
}