.main_gallery-title {
    text-align: center;
    background-color: map-get($colors, wine-background);
    color: #fff;
    text-shadow: #000;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}


.main_gallery-gallery {
    height: 1000px;
    width: 100%;
    background-color: map-get($colors, wine-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (8, 200px);
    grid-gap: 20px;
    padding: 20px;
    overflow: hidden;

    @media only screen and (min-width:480px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        height: max-content;
    }

    @media only screen and (min-width: 768px) and (max-width:1023px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (min-width:1024px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2x 200px);
    }

}


.carousel {
    width: 50%;
    min-width: 800px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.446);

@media only screen and (max-width:850px) {
    width: 90%;
    min-width: 300px !important;
}
}

.productos_img {
    height: 50vh;
    width: 50vh !important;
    object-fit: cover;
}

.main_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../images/bodega-porto_78361-1838.avif);
    background-size: cover;
    background-position: center;
}
